$purple     : #ae00b4;
$darkpurple : #8c0090;
$gray       : #e4e5e7;
$darkgray   : #676767;

.image {
	text-align: center;
	img{
		width: 100%; 
	} 
}

.team {
	margin-top: 20px;
    
    padding: 35px 0px;
    background: #fafafa;
	
	.members {
        margin-top: 20px; 
		.team-member {
			height: 160px;
			width: 160px;
			margin: 0 auto;
			background-position: 50% 50% !important;
			border-radius: 50%;
			text-align: center;
			
		}

		.team-name {
			padding-top: 10px;
		    display: inline-block;
		    width: 100%;
		    text-align: center;
		    font-size: 20px;
    		text-transform: capitalize;
			color: $purple;
            font-family: 'Slabo 27px', serif;
            margin-top: 10px;
		}

		.member1, .member8 {
			background: url("../../../images/aboutus/team1.png");
		}
		.member2, .member7 {
			background: url("../../../images/aboutus/team2.png");
		}
		.member3, .member6 {
			background: url("../../../images/aboutus/team3.png");
		}
		.member4, .member5 {
			background: url("../../../images/aboutus/team4.png");
		}
	}
}