@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
.courses {
  margin-bottom: 0px;
  position: relative; }
  .courses .item {
    margin-bottom: 25px;
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #ae00b4; }
    .courses .item .img-holder {
      position: relative;
      text-align: center;
      transition: all 0.2s linear; }
      .courses .item .img-holder:hover .img-overlay {
        opacity: 1; }
      .courses .item .img-holder img, .courses .item .img-holder .img-overlay {
        margin: auto auto;
        height: 250px;
        width: 100%; }
      .courses .item .img-holder .img-overlay {
        transition: all 0.2s linear;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0; }
      .courses .item .img-holder button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        background: #ae00b4;
        border: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 30px; }
    .courses .item .desc {
      min-height: 100px;
      background: #fff;
      text-align: left;
      padding: 8px;
      transition: all 0.2s linear; }
      .courses .item .desc h3 {
        font-family: 'Slabo 27px', serif;
        font-weight: normal;
        color: #ae00b4;
        font-size: 18pt;
        margin: 0px;
        margin-bottom: 5px; }
      .courses .item .desc p {
        margin: 0px; }
  .courses .overlay {
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    z-index: 11;
    text-align: center;
    padding: 100px 150px;
    display: none; }
    .courses .overlay img {
      width: 200px;
      margin-bottom: 20px; }
    .courses .overlay h3 {
      font-family: 'Slabo 27px', serif;
      font-weight: normal;
      color: #ae00b4;
      font-size: 18pt;
      margin: 0px;
      margin-bottom: 5px; }
    .courses .overlay span {
      color: #676767;
      margin-bottom: 30px;
      display: inline-block;
      width: 300px; }
    .courses .overlay p {
      color: #ae00b4; }
    .courses .overlay .close {
      position: absolute;
      top: 35px;
      right: 35px;
      width: 31px;
      height: 31px;
      background: url("../../images/close-btn.png");
      background-repeat: no-repeat;
      cursor: pointer;
      transition: all 0.3s linear; }
      .courses .overlay .close:hover {
        transform: rotate(360deg); }
