@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
.errorpage h2 {
  font-family: 'Roboto Slab', serif;
  color: #ae00b4;
  font-size: 84pt;
  font-weight: normal; }

.errorpage p {
  font-family: 'Slabo 27px', serif;
  font-size: 30pt; }
