@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
.errorpage h2 {
  font-family: 'Roboto Slab', serif;
  color: #ae00b4;
  font-size: 120pt;
  font-weight: normal;
  margin: 0px;
  letter-spacing: -25px;
  position: relative;
  margin-top: 50px; }
  .errorpage h2 > div {
    display: inline-block; }
    .errorpage h2 > div:first-child {
      vertical-align: middle; }
    .errorpage h2 > div:last-child {
      vertical-align: sub;
      position: relative; }

.errorpage p {
  font-family: 'Slabo 27px', serif;
  font-size: 30pt;
  margin-top: -30px;
  padding-left: 15px;
  margin-bottom: 120px;
  font-weight: bold; }
