.image {
  text-align: center; }
  .image img {
    width: 100%; }

.team {
  margin-top: 20px;
  padding: 35px 0px;
  background: #fafafa; }
  .team .members {
    margin-top: 20px; }
    .team .members .team-member {
      height: 160px;
      width: 160px;
      margin: 0 auto;
      background-position: 50% 50% !important;
      border-radius: 50%;
      text-align: center; }
    .team .members .team-name {
      padding-top: 10px;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 20px;
      text-transform: capitalize;
      color: #ae00b4;
      font-family: 'Slabo 27px', serif;
      margin-top: 10px; }
    .team .members .member1, .team .members .member8 {
      background: url("../../../images/aboutus/team1.png"); }
    .team .members .member2, .team .members .member7 {
      background: url("../../../images/aboutus/team2.png"); }
    .team .members .member3, .team .members .member6 {
      background: url("../../../images/aboutus/team3.png"); }
    .team .members .member4, .team .members .member5 {
      background: url("../../../images/aboutus/team4.png"); }
